# for 문

In [26]:
# 1 ~ 10 까지의 숫자 출력

for (i in 1:10){
    print(i)
} # 1개 짜리 벡터가 10개 생김

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [27]:
for ( i in c(1,3,5)){
    print(i)
}

[1] 1
[1] 3
[1] 5

In [28]:
for (i in seq(1,10,2)){
    print(i)
}

[1] 1
[1] 3
[1] 5
[1] 7
[1] 9

In [29]:
# 1~10까지의 제곱근 구하기
for(i in 1:10){
    print(sqrt(i))
}

[1] 1
[1] 1.414214
[1] 1.732051
[1] 2
[1] 2.236068
[1] 2.44949
[1] 2.645751
[1] 2.828427
[1] 3
[1] 3.162278

In [75]:
# i => sqrt(i) 형태로 출력
for(i in 1:10){
    cat(i ,"=>" , sqrt(i), "\n")
}

1 => 1
2 => 1.414214
3 => 1.732051
4 => 2
5 => 2.236068
6 => 2.44949
7 => 2.645751
8 => 2.828427
9 => 3
10 => 3.162278

[1] 0.000000 3.162278

In [42]:
excel <- read.csv("../Data/excel.csv" )
head(excel)

  q1 q2 q3 q4 q5
1 2  4  4  2  2
2 1  2  2  2  2
3 2  3  4  3  3
4 3  5  5  3  3
5 3  2  4  4  4
6 4  3  3  4  2

In [47]:
# excel 에서 q3 컬럼 데이터의 홀수의 합과 짝수의 합 구하기
# '홀수의 합은 604이고 짝수의 합은 852입니다.'

sumEven <- 0
sumOdd <- 0

for(i in excel$q3){
    if(i %% 2 == 0){
        sumEven = sumEven + i
    }else{
        sumOdd = sumOdd + i
    }
}
cat("홀수의 합은" , sumOdd, "이고 짝수의 합은", sumEven, "입니다.")

홀수의 합은 604 이고 짝수의 합은 852 입니다.

In [50]:
# excel 에서 q3 컬럼 데이터 중 3의 배수의 합계 구하기

sumT <- 0
for(i in excel$q3){
    if(i %% 3 == 0){
        sumT = sumT + i
    }
}
cat("q3컬럼 중 3의 배수의 합 :", sumT)

q3컬럼 중 3의 배수의 합 : 216

In [58]:
# excel 에서 q3 컬럼 데이터 중 3의 배수도 되고 4의 배수도 되는 수의 합계 구하기

sum1 <- 0
for(i in excel$q3){
    if(i %% 3 == 0 & i %% 4 == 0){
        sum1 = sum1 + i
    }
}
cat("q3컬럼 중 3 과 4 배수의 합 :", sum1)
max(excel$q3) # 최소공배수 12를 넘는 값이 없다

q3컬럼 중 3 과 4 배수의 합 : 0

[1] 5

In [70]:
# 구구단 2단 출력하기
for(i in 1:9){
    cat("2 X", i, "=", i*2, "\n")
}

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [76]:
# 사용자로 부터 몇단을 출력할지 단수를 입력받아 구구단 출력하기 
# 단을 입력하세요 
num1 <- as.integer(readline("단을 입력하세요:"))
for(i in 1:9){
    cat(num1 , "X", i, "=", i*num1, "\n")
}

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [97]:
# 나혼자 그냥 해보는 연습@@@

a = c() # 빈 벡터만들기
# a 벡터에 반복문 결과 값을 데이터로 넣기! 
for(i in 1:9){
    a = c(a , paste("2 X", i, "=", i*2))
}
print(a)

[1] "2 X 1 = 2"  "2 X 2 = 4"  "2 X 3 = 6"  "2 X 4 = 8"  "2 X 5 = 10"
[6] "2 X 6 = 12" "2 X 7 = 14" "2 X 8 = 16" "2 X 9 = 18"

[1] "2 X 1 = 2"  "2 X 2 = 4"  "2 X 3 = 6"  "2 X 4 = 8"  "2 X 5 = 10"
[6] "2 X 6 = 12" "2 X 7 = 14" "2 X 8 = 16" "2 X 9 = 18"

### 함수 만들기 (function)
- java method와 같음
- package로 완성 - function이 모여서 - code가 모여서

In [90]:
# 구구단 함수 만들기 - 1 
gugu <- function(){
    dan <- as.integer(readline("단을 입력하세요:"))
    for(i in 1:9){
        cat(dan , "X", i, "=", i*dan, "\n")
    }
}

In [91]:
gugu()

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [92]:
# 구구단 함수 만들기 - 2
gugu <- function(dan){
    for(i in 1:9){
        cat(dan , "X", i, "=", i*dan, "\n")
    }
}

In [94]:
gugu(5)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [95]:
# 구구단 함수 만들기 - 3
gugu <- function(dan, x){
    for(i in 1:x){
        cat(dan , "X", i, "=", i*dan, "\n")
    }
}

In [96]:
gugu(2,12)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
2 X 11 = 22
2 X 12 = 24

In [103]:
# 구구단 전체 출력하기
for(j in 2:9){
    for(i in 1:9){
        cat(j , "X", i, "=", i*j, "\n")
    }
    cat('--------------',"\n")
}

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
--------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
--------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
--------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
--------------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
--------------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
--------------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
--------------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
--------------

In [111]:
# 구구단 곱하는 값이 짝수인 단 출력하기
for(j in seq(2,9,2)){
    for(i in seq(2,9,2)){
        cat(j , "X", i, "=", i*j, "\n")
    }
    cat('--------------',"\n")
}

# 구구단 곱하는 값이 홀수인 단 출력하기
for(j in seq(1,9,2)){
    for(i in seq(1,9,2)){
        cat(j , "X", i, "=", i*j, "\n")
    }
    cat('--------------',"\n")
}

2 X 2 = 4
2 X 4 = 8
2 X 6 = 12
2 X 8 = 16
--------------
4 X 2 = 8
4 X 4 = 16
4 X 6 = 24
4 X 8 = 32
--------------
6 X 2 = 12
6 X 4 = 24
6 X 6 = 36
6 X 8 = 48
--------------
8 X 2 = 16
8 X 4 = 32
8 X 6 = 48
8 X 8 = 64
--------------
1 X 1 = 1
1 X 3 = 3
1 X 5 = 5
1 X 7 = 7
1 X 9 = 9
--------------
3 X 1 = 3
3 X 3 = 9
3 X 5 = 15
3 X 7 = 21
3 X 9 = 27
--------------
5 X 1 = 5
5 X 3 = 15
5 X 5 = 25
5 X 7 = 35
5 X 9 = 45
--------------
7 X 1 = 7
7 X 3 = 21
7 X 5 = 35
7 X 7 = 49
7 X 9 = 63
--------------
9 X 1 = 9
9 X 3 = 27
9 X 5 = 45
9 X 7 = 63
9 X 9 = 81
--------------

In [154]:
# for 문 하나로 구구단 곱하는 값이 짝수인 단 출력하기 ?? 
a <- seq(2,9,2)
j = 0
    for(i in seq(2,9,2)){
        j = j+1
        cat(i , "X", a[j] , "=", i*i, "\n")
    }
    cat('--------------',"\n")

2 X 2 = 4
4 X 4 = 16
6 X 6 = 36
8 X 8 = 64
--------------

In [134]:
# 2개의 벡터자료를 함께 출력하기
score <- c(85, 95, 89)
name <- c('유비', '관우', '장비')

for(i in 1:length(score)){
    cat(name[i], ":" , score[i] , "\n")
}

# for 조건이 score 일때 ##있는 부분 채우기 
a = 1 ##
for(i in score){
  cat( name[a],":", i , "\n") ##
  a = a + 1 ##
}

유비 : 85
관우 : 95
장비 : 89
유비 : 85
관우 : 95
장비 : 89

In [147]:
# 위에서 한 것 한줄로 출력하기
cat(paste(name,":",score,"\n"), sep='')
# 벡터 이해하면 for문 몰라도 됨

유비 : 85
관우 : 95
장비 : 89

---
### while
쓸일 없음

In [149]:
i <- 0
while(i < 10){
    i =i + 1
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

### repeat
시험에 자주 나온다. ()가 없는 유일한 함수, 조건이 if문으로 안에 들어가줘야 
<br> 쓸일 없음

In [151]:
i <- 0
repeat{
    i = i + 1
    if ( i > 10){
        break
    }
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

---