# 기술 통계량을 계산하는 함수 정의

In [2]:
test <- read.csv("../Data/test.csv")
head(test)
tail(test)
str(test) 
summary(test)

  A B C D E
1 2 4 4 2 2
2 1 2 2 2 2
3 2 3 4 3 3
4 3 5 5 3 3
5 3 2 4 4 4
6 4 3 3 4 2

    A B C D E
397 2 3 5 2 4
398 4 3 3 2 4
399 2 4 4 2 3
400 2 2 5 2 4
401 2 3 4 2 4
402 2 2 4 2 4

'data.frame':	402 obs. of  5 variables:
 $ A: int  2 1 2 3 3 4 3 4 4 4 ...
 $ B: int  4 2 3 5 2 3 4 2 4 2 ...
 $ C: int  4 2 4 5 4 3 4 4 5 4 ...
 $ D: int  2 2 3 3 4 4 2 4 3 2 ...
 $ E: int  2 2 3 3 4 2 2 4 4 3 ...

       A               B               C               D              E
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.00   Min.   :1.000
 1st Qu.:2.000   1st Qu.:2.000   1st Qu.:3.000   1st Qu.:2.00   1st Qu.:3.000
 Median :3.000   Median :3.000   Median :4.000   Median :2.00   Median :4.000
 Mean   :2.734   Mean   :2.908   Mean   :3.622   Mean   :2.51   Mean   :3.386
 3rd Qu.:3.000   3rd Qu.:4.000   3rd Qu.:4.000   3rd Qu.:3.00   3rd Qu.:4.000
 Max.   :5.000   Max.   :5.000   Max.   :5.000   Max.   :4.00   Max.   :5.000

In [5]:
# A 컬럼의 최대값, 최소값, 빈도수 구하기
max(test$A)
min(test$A)
table(test$A)

[1] 5

[1] 1

  1   2   3   4   5
 30 133 156  80   3

In [4]:
# 각 칼럼의 빈도수 구하기
# test[,1]
# ncol(test)

for(i in 1:ncol(test)){
    cat( colnames(test)[i] , "컬럼의 빈도 분석 결과")
    print(table(test[,i]))
    cat("------------------------\n")
}

[1] 5

A 컬럼의 빈도 분석 결과
  1   2   3   4   5
 30 133 156  80   3
------------------------
B 컬럼의 빈도 분석 결과
  1   2   3   4   5
 16 150  98 131   7
------------------------
C 컬럼의 빈도 분석 결과
  1   2   3   4   5
  3  74  72 176  77
------------------------
D 컬럼의 빈도 분석 결과
  1   2   3   4
 30 178 153  41
------------------------
E 컬럼의 빈도 분석 결과
  1   2   3   4   5
  8  81 107 160  46
------------------------

In [68]:
# 빈도수의 최대값 최소값 구하기
# max(table(test$A))

for(i in 1:ncol(test)){
    t <- table(test[,i])
    cat( colnames(test)[i] , "컬럼 빈도수의 최대값과 최소값\n")
    cat( "최대값:", max(t), ", 최소값:", min(t),"\n")
    cat("------------------------\n")
}

A 컬럼 빈도수의 최대값과 최소값
최대값: 156 , 최소값: 3
------------------------
B 컬럼 빈도수의 최대값과 최소값
최대값: 150 , 최소값: 7
------------------------
C 컬럼 빈도수의 최대값과 최소값
최대값: 176 , 최소값: 3
------------------------
D 컬럼 빈도수의 최대값과 최소값
최대값: 178 , 최소값: 30
------------------------
E 컬럼 빈도수의 최대값과 최소값
최대값: 160 , 최소값: 8
------------------------

In [77]:
# 각 컬럼의 빈도수 구하기와 각 컬럼의 빈도수의 최대값 , 최소값 구하는 함수 만들기

tableMaxMin <- function(x){
    for(i in 1:ncol(x)){
        cat( colnames(x)[i] , "컬럼의 빈도 분석 결과")
        print(table(x[,i]))
        cat("------------------------\n")
        
        t <- table(x[,i])
        cat( colnames(x)[i] , "컬럼 빈도수의 최대값과 최소값\n")
        cat( "최대값:", max(t), ", 최소값:", min(t),"\n")
        cat("=========================\n")
    }
}

In [78]:
tableMaxMin(test)

A 컬럼의 빈도 분석 결과
  1   2   3   4   5
 30 133 156  80   3
------------------------
A 컬럼 빈도수의 최대값과 최소값
최대값: 156 , 최소값: 3
=========================
B 컬럼의 빈도 분석 결과
  1   2   3   4   5
 16 150  98 131   7
------------------------
B 컬럼 빈도수의 최대값과 최소값
최대값: 150 , 최소값: 7
=========================
C 컬럼의 빈도 분석 결과
  1   2   3   4   5
  3  74  72 176  77
------------------------
C 컬럼 빈도수의 최대값과 최소값
최대값: 176 , 최소값: 3
=========================
D 컬럼의 빈도 분석 결과
  1   2   3   4
 30 178 153  41
------------------------
D 컬럼 빈도수의 최대값과 최소값
최대값: 178 , 최소값: 30
=========================
E 컬럼의 빈도 분석 결과
  1   2   3   4   5
  8  81 107 160  46
------------------------
E 컬럼 빈도수의 최대값과 최소값
최대값: 160 , 최소값: 8
=========================

> 4/27 끗

---
# 결측치(missing value) 자료 평균 계산

In [2]:
data <- c( 10,20,5,4,40,7,NA,6,3,NA,2,NA)
data

 [1] 10 20  5  4 40  7 NA  6  3 NA  2 NA

In [3]:
mean(data)

[1] NA

In [7]:
# NA 갯수 구하기
sum(is.na(data))
table(is.na(data))

[1] 3

FALSE  TRUE
    9     3

In [13]:
# NA를 제외하고 평균 구하자
# 결측치를 무조건 제거하면 통계량을 얻을 수 없으며, 데이터의 손실로 문제 발생
mean(data, na.rm=T)

[1] 10.77778

In [20]:
# 1) NA를 0으로 대체해서 평균값 구하기

## 1 라이브러리 사용
library(stringr)
mean(as.numeric(str_replace_na(data, 0)))
## 2 ifelse 사용
mean(ifelse( is.na(data) , 0, data))

[1] 8.083333

[1] 8.083333

In [28]:
# 2) NA를 평균으로 대체해서 평균값 구하기
# 평균으로 대체하면 아무 의미가 없다
summary(data)
mean(data, na.rm=T)
mean(ifelse(is.na(data) , mean(data, na.rm=T) , data))

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   2.00    4.00    6.00   10.78   10.00   40.00       3

[1] 10.77778

[1] 10.77778

In [31]:
# 3) NA를 중앙값으로 대체해서 평균값 구하기
median(data, na.rm=T)
ifelse(is.na(data) , median(data, na.rm=T) , data)
mean( ifelse(is.na(data) , median(data, na.rm=T) , data))

[1] 6

 [1] 10 20  5  4 40  7  6  6  3  6  2  6

[1] 9.583333

In [34]:
# 4) NA를 최대값으로 대체해서 평균값 구하기
max(data, na.rm=T)
ifelse(is.na(data) , max(data, na.rm=T) , data)
mean( ifelse(is.na(data) , max(data, na.rm=T) , data))

[1] 40

 [1] 10 20  5  4 40  7 40  6  3 40  2 40

[1] 18.08333

In [35]:
# 5) NA를 최소값으로 대체해서 평균값 구하기
min(data, na.rm=T)
ifelse(is.na(data) , min(data, na.rm=T) , data)
mean( ifelse(is.na(data) , min(data, na.rm=T) , data))

[1] 2

 [1] 10 20  5  4 40  7  2  6  3  2  2  2

[1] 8.583333

> <보고서 용, 다시보기 위한 요약 정리> <br>
> 결측치를 제외한 평균 : 10.7777777777778 <br>
> 결측치를 0으로 대체한 평균 : 8.08333333333333 <br>
> 평균으로 대체 : 10.7777777777778 (의미없음) <br>
> 중앙값으로 대체 : 9.58333333333333 (NA값 없을때의 평균과 제일 근사) * <br>
> 최대값으로 대체 : 18.0833333333333 <br>
> 최소값으로 대체 : 8.58333333333333 <br>
> 함수를 이용해서 처리하고, 평균값과 제일 근사한 값을 찾는 함수도 만들어 사용 (평균과의 차의 절댓값이 가장 작은 값 선택)

> 4/28 끗