In [2]:
data <- read.table("DataBackup/trafficAccident_2011_2019.txt" , header = T,stringsAsFactors = F ) 
str(data)
data <- subset(data, 자치구별 != '합계') # 필요없는 합계 데이터 삭제
data <- data[,-4] # 합계 컬럼 삭제
rownames(data) <- c() # 인덱스 정리
colnames(data) <- c("년도","자치구명",'구분', 1:12 ) # 컬럼이름 정리

'data.frame':	702 obs. of  16 variables:
 $ 기간    : int  2011 2011 2011 2011 2011 2011 2011 2011 2011 2011 ...
 $ 자치구별: chr  "합계" "합계" "합계" "종로구" ...
 $ 구분    : chr  "발생건수" "사망자수" "부상자수" "발생건수" ...
 $ 합계    : chr  "40,451" "435" "57,625" "1,421" ...
 $ X1월    : chr  "3,038" "36" "4,429" "115" ...
 $ X2월    : chr  "2,573" "32" "3,734" "99" ...
 $ X3월    : chr  "3,126" "20" "4,513" "116" ...
 $ X4월    : chr  "3,450" "44" "4,905" "110" ...
 $ X5월    : chr  "3,603" "36" "5,036" "122" ...
 $ X6월    : chr  "3,390" "37" "4,831" "116" ...
 $ X7월    : chr  "3,529" "36" "5,067" "103" ...
 $ X8월    : chr  "3,360" "50" "4,823" "122" ...
 $ X9월    : chr  "3,433" "37" "4,893" "121" ...
 $ X10월   : chr  "3,734" "25" "5,244" "135" ...
 $ X11월   : chr  "3,701" "40" "5,150" "140" ...
 $ X12월   : chr  "3,514" "42" "5,000" "122" ...

In [3]:
# 숫자 데이터 - 값 0으로 대체하기
for(i in 4:15){
    data[,i] <- ifelse(data[,i] == '-', 0 , data[,i])
}
head(data)

  년도 자치구명 구분     1   2   3   4   5   6   7   8   9   10  11  12
1 2011 종로구   발생건수 115 99  116 110 122 116 103 122 121 135 140 122
2 2011 종로구   사망자수 2   0   0   1   0   3   1   1   2   2   1   1
3 2011 종로구   부상자수 165 134 162 153 157 163 154 171 166 193 204 172
4 2011 중구     발생건수 108 86  141 128 121 115 119 117 140 147 132 143
5 2011 중구     사망자수 0   0   0   3   1   1   1   1   1   2   3   0
6 2011 중구     부상자수 159 112 183 175 165 156 154 154 181 203 172 211

In [4]:
data_s <- data.frame(년도 = integer(), 월 = integer(), 자치구명 = character(), 발생건수= integer(), 사망자수= integer(), 부상자수 = integer())

for(i in seq(1,nrow(data),3) ){ # 1,4,7
  년도 <- as.integer(data[i,1])
  월 <- 1:12
  자치구명 <- as.character(data[i,2])
  발생건수 <- as.integer(t(data[i,4:15]))
  사망자수 <- as.integer(t(data[i+1,4:15]))
  부상자수 <- as.integer(t(data[i+2,4:15]))

  누적 <- data.frame(년도, 월, 자치구명, 발생건수, 사망자수, 부상자수)
  data_s <- rbind(data_s , 누적)
}

In [5]:
head(data_s)
str(data_s)

  년도 월 자치구명 발생건수 사망자수 부상자수
1 2011 1  종로구   115      2        165
2 2011 2  종로구    99      0        134
3 2011 3  종로구   116      0        162
4 2011 4  종로구   110      1        153
5 2011 5  종로구   122      0        157
6 2011 6  종로구   116      3        163

'data.frame':	2700 obs. of  6 variables:
 $ 년도    : int  2011 2011 2011 2011 2011 2011 2011 2011 2011 2011 ...
 $ 월      : int  1 2 3 4 5 6 7 8 9 10 ...
 $ 자치구명: Factor w/ 25 levels "종로구","중구",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ 발생건수: int  115 99 116 110 122 116 103 122 121 135 ...
 $ 사망자수: int  2 0 0 1 0 3 1 1 2 2 ...
 $ 부상자수: int  165 134 162 153 157 163 154 171 166 193 ...

In [6]:
write.csv(data_s, "DataBackup/seoul_accident.csv")