In [3]:
data <- read.csv('../AIData/서울대전.csv', header = TRUE, stringsAsFactors = FALSE)
str(data)

'data.frame':	40 obs. of  26 variables:
 $ 시간 : chr  "2013. 2. 8" "2013. 2. 9" "2013. 2. 10" "2013. 2. 11" ...
 $ 날짜 : int  0 1 2 3 4 0 1 2 3 4 ...
 $ X00시: int  91 132 83 87 84 84 155 81 82 80 ...
 $ X01시: int  88 129 82 85 82 82 158 82 82 80 ...
 $ X02시: int  88 121 102 89 78 82 150 83 87 83 ...
 $ X03시: int  87 124 100 84 79 83 146 85 83 82 ...
 $ X04시: int  91 119 93 85 84 80 154 87 82 85 ...
 $ X05시: int  97 118 106 81 79 81 148 87 82 87 ...
 $ X06시: int  96 128 100 81 80 83 152 89 80 0 ...
 $ X07시: int  89 133 97 80 89 84 168 87 80 81 ...
 $ X08시: int  90 133 94 80 87 85 174 90 79 81 ...
 $ X09시: int  91 149 97 86 90 85 177 89 79 82 ...
 $ X10시: int  91 163 95 80 90 87 203 87 81 84 ...
 $ X11시: int  94 166 94 85 89 92 205 88 82 84 ...
 $ X12시: int  101 162 99 87 89 102 225 97 85 87 ...
 $ X13시: int  118 137 105 92 89 113 216 107 88 89 ...
 $ X14시: int  91 92 108 137 115 88 91 88 119 206 ...
 $ X15시: int  91 93 117 123 125 89 89 89 135 187 ...
 $ X16시: int  88 93 121 107 136 88 92 91 146 172 ...
 $ X17시: int  88 94 156 106 149 90 88 94 133 157 ...
 $ X18시: int  91 93 160 98 167 89 95 90 144 146 ...
 $ X19시: int  91 94 156 93 185 96 91 98 168 134 ...
 $ X20시: int  87 95 145 93 202 86 85 102 161 121 ...
 $ X21시: int  92 92 128 91 211 88 90 90 144 110 ...
 $ X22시: int  91 86 116 88 212 87 87 96 127 102 ...
 $ X23시: int  88 85 107 89 183 85 85 87 114 99 ...

In [122]:
십삼년 <- data[1:5,]
영 <- 십삼년[1,3:26]
일 <- 십삼년[2,3:26]
이 <- 십삼년[3,3:26]
삼 <- 십삼년[4,3:26]
사 <- 십삼년[5,3:26]
출발시간 <- 0:23

In [125]:
ze

        출발시간 1
X00시 0  0        91
X01시 0  1        88
X02시 0  2        88
X03시 0  3        87
X04시 0  4        91
X05시 0  5        97
X06시 0  6        96
X07시 0  7        89
X08시 0  8        90
X09시 0  9        91
X10시 0 10        91
X11시 0 11        94
X12시 0 12       101
X13시 0 13       118
X14시 0 14        91
X15시 0 15        91
X16시 0 16        88
X17시 0 17        88
X18시 0 18        91
X19시 0 19        91
X20시 0 20        87
X21시 0 21        92
X22시 0 22        91
X23시 0 23        88

In [124]:
ze <- cbind(c(0), 출발시간,t(영))
on <- cbind(1,출발시간,t(일))
tw <- cbind(2,출발시간,t(이))
th <- cbind(3,출발시간,t(삼))
fo <- cbind(4,출발시간,t(사))

In [126]:
tlqtka <- rbind(ze, on, tw , th,fo)
rownames(tlqtka) <- c()

In [128]:
tlqtka <- cbind(c(2013), tlqtka)
tlqtka <- data.frame(tlqtka)

In [46]:
library(dplyr)

In [130]:
십삼 <- arrange(tlqtka, 출발시간 )

In [132]:
head(십삼)
data[6:10,]

  V1   V2 출발시간 X1
1 2013 0  0         91
2 2013 1  0        132
3 2013 2  0         83
4 2013 3  0         87
5 2013 4  0         84
6 2013 0  1         88

   시간        날짜 X00시 X01시 X02시 X03시 X04시 X05시 X06시 X07시 ... X14시
6  2014. 1. 29 0     84    82    82    83    80    81    83    84   ...  88
7  2014. 1. 30 1    155   158   150   146   154   148   152   168   ...  91
8  2014. 1. 31 2     81    82    83    85    87    87    89    87   ...  88
9  2014. 2. 1  3     82    82    87    83    82    82    80    80   ... 119
10 2014. 2. 2  4     80    80    83    82    85    87     0    81   ... 206
   X15시 X16시 X17시 X18시 X19시 X20시 X21시 X22시 X23시
6   89    88    90    89    96    86    88    87    85
7   89    92    88    95    91    85    90    87    85
8   89    91    94    90    98   102    90    96    87
9  135   146   133   144   168   161   144   127   114
10 187   172   157   146   134   121   110   102    99

In [117]:
# 13 14 15 16 17 18 19 20
십삼년 <- data[36:40,]
영 <- 십삼년[1,3:26]
일 <- 십삼년[2,3:26]
이 <- 십삼년[3,3:26]
삼 <- 십삼년[4,3:26]
사 <- 십삼년[5,3:26]
ze <- cbind(0,출발시간,t(영))
on <- cbind(1,출발시간,t(일))
tw <- cbind(2,출발시간,t(이))
th <- cbind(3,출발시간,t(삼))
fo <- cbind(4,출발시간,t(사))
tlqtka <- rbind(ze, on, tw , th,fo)
rownames(tlqtka) <- c()
tlqtka <- cbind(c(2020), tlqtka)
tlqtka <- data.frame(tlqtka)
이십 <- arrange(tlqtka, 출발시간)

In [135]:
최종데이터 <- rbind(십삼, 십사, 십오, 십육,십칠,십팔,십구,이십)
# colnames(십삼) <- c('년도', '일차' , '출발시간', '소요시간')
# colnames(십사) <- c('년도', '일차' ,'출발시간', '소요시간')
# colnames(십오) <- c('년도', '일차' ,'출발시간', '소요시간')
# colnames(십육) <- c('년도', '일차' ,'출발시간', '소요시간')
# colnames(십칠) <- c('년도', '일차' ,'출발시간', '소요시간')
# colnames(십팔) <- c('년도', '일차' ,'출발시간', '소요시간')
# colnames(십구) <- c('년도', '일차' ,'출발시간', '소요시간')
# colnames(이십) <- c('년도', '일차' ,'출발시간', '소요시간')

In [136]:
str(최종데이터)

'data.frame':	960 obs. of  4 variables:
 $ 년도    : num  2013 2013 2013 2013 2013 ...
 $ 일차    : num  0 1 2 3 4 0 1 2 3 4 ...
 $ 출발시간: num  0 0 0 0 0 1 1 1 1 1 ...
 $ 소요시간: num  91 132 83 87 84 88 129 82 85 82 ...

In [139]:
최종데이터[100:150,]

    년도 일차 출발시간 소요시간
100 2013 4    19       185
101 2013 0    20        87
102 2013 1    20        95
103 2013 2    20       145
104 2013 3    20        93
105 2013 4    20       202
106 2013 0    21        92
107 2013 1    21        92
108 2013 2    21       128
109 2013 3    21        91
110 2013 4    21       211
111 2013 0    22        91
112 2013 1    22        86
113 2013 2    22       116
114 2013 3    22        88
115 2013 4    22       212
116 2013 0    23        88
117 2013 1    23        85
118 2013 2    23       107
119 2013 3    23        89
120 2013 4    23       183
121 2014 0     0        84
122 2014 1     0       155
123 2014 2     0        81
124 2014 3     0        82
125 2014 4     0        80
126 2014 0     1        82
127 2014 1     1       158
128 2014 2     1        82
129 2014 3     1        82
130 2014 4     1        80
131 2014 0     2        82
132 2014 1     2       150
133 2014 2     2        83
134 2014 3     2        87
135 2014 4     2        83
136 2014 0     3        83
137 2014 1     3       146
138 2014 2     3        85
139 2014 3     3        83
140 2014 4     3        82
141 2014 0     4        80
142 2014 1     4       154
143 2014 2     4        87
144 2014 3     4        82
145 2014 4     4        85
146 2014 0     5        81
147 2014 1     5       148
148 2014 2     5        87
149 2014 3     5        82
150 2014 4     5        87

In [140]:
write.csv(최종데이터, "../AIData/서울대전최종.csv", row.names=F)

In [141]:
24*5*8

[1] 960