In [1]:
library(caret)
library(dplyr)
options(warn = -1)
library(caret)
library(nnet)
library(e1071)
library(randomForest)
library(party)
library(NbClust)

Loading required package: lattice
Loading required package: ggplot2
Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

randomForest 4.6-14
Type rfNews() to see new features/changes/bug fixes.

Attaching package: ‘randomForest’

The following object is masked from ‘package:dplyr’:

    combine

The following object is masked from ‘package:ggplot2’:

    margin

Loading required package: grid
Loading required package: mvtnorm
Loading required package: modeltools
Loading required package: stats4
Loading required package: strucchange
Loading required package: zoo

Attaching package: ‘zoo’

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

Loading required package: sandwich

In [1]:
오아시스 <- read.csv('rproject/OpenOASIS.csv')

ERROR: Error in make.names(col.names, unique = TRUE): '<c3><e2><b9><df>'에서 유효하지 않은 멀티바이트 문자열이 있습니다

In [23]:
df <- read.csv('rproject/서울대전최종.csv')[,c(4,2,3)]
head(df)
dfsub <- subset(df, (일차==1 & 출발시간 ==9))[,c(1,3)] # 0일차 소요시간-출발시간
head(dfsub)

  소요시간 일차 출발시간
1  91      0    0
2 132      1    0
3  83      2    0
4  87      3    0
5  84      4    0
6  88      0    1

    소요시간 출발시간
47  149      9
167 177      9
287 182      9
407 111      9
527 144      9
647 156      9

In [53]:
model <- lm(소요시간 ~ . , data = dfsub)
model
summary(model)
model$residuals

Call:
lm(formula = 소요시간 ~ ., data = dfsub)

Coefficients:
(Intercept)     출발시간
      147.7           NA

Call:
lm(formula = 소요시간 ~ ., data = dfsub)

Residuals:
   Min     1Q Median     3Q    Max
-43.75 -12.00   4.75  15.75  34.25

Coefficients: (1 not defined because of singularities)
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  147.750      9.913    14.9 1.47e-06 ***
출발시간          NA         NA      NA       NA
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 28.04 on 7 degrees of freedom

    47    167    287    407    527    647    767    887
  1.25  29.25  34.25 -36.75  -3.75   8.25 -43.75  11.25

In [51]:


samp <- createDataPartition(df$소요시간, p=0.7, list=F)
data.tr <- df[samp,]
data.test <- df[-samp,]

x <- subset(data.test, select = -소요시간)
y <- data.test$소요시간




오차 계산해 넣기
for (i in 0:4){
  for(j in 0:23){
    # i일차 j시 소요시간~출발시간
    dfsub <- subset(df, (일차==i & 출발시간 ==j))[,c(1,3)]
    
  }
}






data.test[,4] = 0
data.test
# df

model_rf <- randomForest(소요시간 ~ . , data = data.tr, ntree = 100)
model_mn <- multinom(소요시간 ~ . , data=data.tr)
model_svm <- svm(소요시간 ~ . , data=data.tr)

pred_rf <- predict(model_rf, x)
pred_mn <- predict(model_mn, x)
pred_svm <- predict(model_svm, x)

data.frame(pred_rf, y)

# 예측력_rf <- mean((pred_rf - 오차 < y) & (pred_rf + 오차 > y))
# 예측력_mn <- mean(pred_mn == y)
# 예측력_svm <- mean(pred_svm == y)


예측력_rf
# 예측력_mn
# 예측력_svm

    소요시간 일차 출발시간 V4
6    88      0     1       0
9    85      3     1       0
11   88      0     2       0
13  102      2     2       0
14   89      3     2       0
16   87      0     3       0
20   79      4     3       0
24   85      3     4       0
25   84      4     4       0
34   81      3     6       0
43   94      2     8       0
47  149      1     9       0
48   97      2     9       0
49   86      3     9       0
50   90      4     9       0
56   94      0    11       0
57  166      1    11       0
63   99      2    12       0
65   89      4    12       0
67  137      1    13       0
72   92      1    14       0
73  108      2    14       0
83  121      2    16       0
84  107      3    16       0
89  106      3    17       0
93  160      2    18       0
95  167      4    18       0
96   91      0    19       0
98  156      2    19       0
108 128      2    21       0
... ...      ...  ...      ...
877 155      1     7       0
878  93      2     7       0
880  80      4     7       0
881  93      0     8       0
890  79      4     9       0
894  85      3    10       0
899  83      3    11       0
900  84      4    11       0
904  89      3    12       0
906 106      0    13       0
908 111      2    13       0
909  93      3    13       0
910  86      4    13       0
911  91      0    14       0
917  91      1    15       0
920 170      4    15       0
921  89      0    16       0
922  86      1    16       0
924 145      3    16       0
926  89      0    17       0
928 100      2    17       0
929 139      3    17       0
930 142      4    17       0
932  94      1    18       0
933  98      2    18       0
939 147      3    19       0
941  88      0    20       0
943  93      2    20       0
944 132      3    20       0
959 102      3    23       0

# weights:  520 (387 variable)
initial  value 3280.718220
iter  10 value 2882.891889
iter  20 value 2824.663422
iter  30 value 2719.725476
iter  40 value 2658.159737
iter  50 value 2624.552775
iter  60 value 2606.021249
iter  70 value 2595.590919
iter  80 value 2584.302117
iter  90 value 2570.264409
iter 100 value 2559.599636
final  value 2559.599636
stopped after 100 iterations

    pred_rf   y
6    88.86625  88
9    85.05164  85
11   87.74366  88
13   88.18982 102
14   86.19488  89
16   90.58846  87
20   85.60154  79
24   86.14951  85
25   85.60872  84
34   86.51230  81
43   96.02848  94
47  137.65927 149
48   94.82817  97
49   84.80341  86
50   88.22254  90
56   94.46501  94
57  145.07158 166
63  110.72541  99
65   98.15505  89
67  144.38225 137
72  115.91581  92
73  107.04117 108
83  105.81358 121
84   71.03411 107
89   69.38136 106
93  114.43724 160
95  132.53707 167
96  114.48645  91
98  108.85119 156
108 100.47878 128
... ...       ...
877 134.69436 155
878  94.53878  93
880  87.35086  80
881  91.34190  93
890  88.22254  79
894  84.82930  85
899  88.48078  83
900  93.70723  84
904  91.03626  89
906 104.17467 106
908 110.92471 111
909  92.38913  93
910 102.86709  86
911  92.45786  91
917 114.77824  91
920 131.22560 170
921  98.03450  89
922 116.94792  86
924  71.03411 145
926 100.19328  89
928 115.81244 100
929  69.38136 139
930 129.86084 142
932 103.40738  94
933 114.43724  98
939  77.47823 147
941 118.02665  88
943 114.13042  93
944  82.92015 132
959  70.44441 102

[1] 0.7541667

  년도 일차 출발시간 소요시간
1 2013 0    0         91
2 2013 1    0        132
3 2013 2    0         83
4 2013 3    0         87
5 2013 4    0         84
6 2013 0    1         88

In [4]:
par(family = 'AppleGothic', bg = '#fafafa', mfrow=c(2,2))

In [5]:
df <- read.csv('rproject/salary.csv')[,c(5,1,2,6,7,8,9,10)]
colnames(df) <- c('edunum', 'age', 'class', 'marital', 'occupation', 'relationship', 'race','sex')
head(df)
str(df)
colnames(df)[2]

  edunum age class             marital             occupation
1 13     39   State-gov         Never-married       Adm-clerical
2 13     50   Self-emp-not-inc  Married-civ-spouse  Exec-managerial
3  9     38   Private           Divorced            Handlers-cleaners
4  7     53   Private           Married-civ-spouse  Handlers-cleaners
5 13     28   Private           Married-civ-spouse  Prof-specialty
6 14     37   Private           Married-civ-spouse  Exec-managerial
  relationship   race   sex
1  Not-in-family  White  Male
2  Husband        White  Male
3  Not-in-family  White  Male
4  Husband        Black  Male
5  Wife           Black  Female
6  Wife           White  Female

'data.frame':	32561 obs. of  8 variables:
 $ edunum      : int  13 13 9 7 13 14 5 9 14 13 ...
 $ age         : int  39 50 38 53 28 37 49 52 31 42 ...
 $ class       : Factor w/ 9 levels " ?"," Federal-gov",..: 8 7 5 5 5 5 5 7 5 5 ...
 $ marital     : Factor w/ 7 levels " Divorced"," Married-AF-spouse",..: 5 3 1 3 3 3 4 3 5 3 ...
 $ occupation  : Factor w/ 15 levels " ?"," Adm-clerical",..: 2 5 7 7 11 5 9 5 11 5 ...
 $ relationship: Factor w/ 6 levels " Husband"," Not-in-family",..: 2 1 2 1 6 6 2 1 2 1 ...
 $ race        : Factor w/ 5 levels " Amer-Indian-Eskimo",..: 5 5 5 3 3 5 3 5 5 5 ...
 $ sex         : Factor w/ 2 levels " Female"," Male": 2 2 2 2 1 1 1 2 1 2 ...

[1] "age"

In [8]:
for(i in 3:8){
  df[,i] <- as.numeric(df[,i])
}
head(df)

ohi <- data.frame(edunum = df$edunum)
head(ohi)

count <- 2
for (i in 3:8){
  for(j in sort(unique(df[,i]))){
    ohi <- cbind(ohi, df[,i] == j)
    colnames(ohi)[count] <- paste(colnames(df)[i],"_",j,sep='')
    count = count + 1
  }
}
ohi[,1] <- as.factor(ohi[,1])
str(ohi)

  edunum age class marital occupation relationship race sex
1 13     39  8     5        2         2            5    2
2 13     50  7     3        5         1            5    2
3  9     38  5     1        7         2            5    2
4  7     53  5     3        7         1            3    2
5 13     28  5     3       11         6            3    1
6 14     37  5     3        5         6            5    1

  edunum
1 13
2 13
3  9
4  7
5 13
6 14

'data.frame':	32561 obs. of  45 variables:
 $ edunum        : Factor w/ 16 levels "1","2","3","4",..: 13 13 9 7 13 14 5 9 14 13 ...
 $ class_1       : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ class_2       : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ class_3       : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ class_4       : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ class_5       : logi  FALSE FALSE TRUE TRUE TRUE TRUE ...
 $ class_6       : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ class_7       : logi  FALSE TRUE FALSE FALSE FALSE FALSE ...
 $ class_8       : logi  TRUE FALSE FALSE FALSE FALSE FALSE ...
 $ class_9       : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ marital_1     : logi  FALSE FALSE TRUE FALSE FALSE FALSE ...
 $ marital_2     : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ marital_3     : logi  FALSE TRUE FALSE TRUE TRUE TRUE ...
 $ marital_4     : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ marital_5     : logi  TRUE FALSE FALSE FALSE FALSE FALSE ...
 $ marital_6     : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ marital_7     : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ occupation_1  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ occupation_2  : logi  TRUE FALSE FALSE FALSE FALSE FALSE ...
 $ occupation_3  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ occupation_4  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ occupation_5  : logi  FALSE TRUE FALSE FALSE FALSE TRUE ...
 $ occupation_6  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ occupation_7  : logi  FALSE FALSE TRUE TRUE FALSE FALSE ...
 $ occupation_8  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ occupation_9  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ occupation_10 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ occupation_11 : logi  FALSE FALSE FALSE FALSE TRUE FALSE ...
 $ occupation_12 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ occupation_13 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ occupation_14 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ occupation_15 : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ relationship_1: logi  FALSE TRUE FALSE TRUE FALSE FALSE ...
 $ relationship_2: logi  TRUE FALSE TRUE FALSE FALSE FALSE ...
 $ relationship_3: logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ relationship_4: logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ relationship_5: logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ relationship_6: logi  FALSE FALSE FALSE FALSE TRUE TRUE ...
 $ race_1        : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ race_2        : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ race_3        : logi  FALSE FALSE FALSE TRUE TRUE FALSE ...
 $ race_4        : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ race_5        : logi  TRUE TRUE TRUE FALSE FALSE TRUE ...
 $ sex_1         : logi  FALSE FALSE FALSE FALSE TRUE TRUE ...
 $ sex_2         : logi  TRUE TRUE TRUE TRUE FALSE FALSE ...

In [9]:
samp <- createDataPartition(ohi$edunum, p=0.7, list=F)
data.tr <- ohi[samp,]
data.test <- ohi[-samp,]

x <- subset(ohi, select = -edunum)
y <- ohi$edunum

model_rf <- randomForest(edunum ~ . , data = data.tr, ntree = 100)
model_mn <- multinom(edunum ~ . , data=data.tr)
model_svm <- svm(edunum ~ . , data=data.tr)

pred_rf <- predict(model_rf, x)
pred_mn <- predict(model_mn, x)
pred_svm <- predict(model_svm, x)

예측력_rf <- mean(pred_rf == y)
예측력_mn <- mean(pred_mn == y)
예측력_svm <- mean(pred_svm == y)

예측력_rf
예측력_mn
예측력_svm

# weights:  736 (675 variable)
initial  value 63220.568045
iter  10 value 45453.626346
iter  20 value 44999.033009
iter  30 value 43858.779471
iter  40 value 42020.430676
iter  50 value 41498.887686
iter  60 value 40803.474651
iter  70 value 40424.926471
iter  80 value 40158.713664
iter  90 value 40041.277880
iter 100 value 39996.125558
final  value 39996.125558
stopped after 100 iterations

[1] 0.4187832

[1] 0.4039802

[1] 0.3959031